body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}
.container {
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-top: 20px;
}
label {
    display:block;
    margin-top: 10px;
    font-weight: bold;
}
input, select , textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;

}
.hidden {
    display: none;
}
